##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
## USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
##
#  For Bacula release 5.0.1 (24 February 2010) -- debian 5.0.4

Job {
  Name = "<%= @client %>"
  JobDefs = "Standardbackup"
  Client = <%= @client_name %>

  Pool = "poolfull-<%= @pool_name %>"
  Differential Backup Pool = "pooldiff-<%= @pool_name %>"
  Incremental Backup Pool = "poolinc-<%= @pool_name %>"

  Reschedule On Error = yes
  Reschedule Interval = 4 hours
  Reschedule Times = 2

  Cancel Lower Level Duplicates = yes
  Cancel Queued Duplicates = yes
}

# Client (File Services) to backup
Client {
  Name = <%= @client_name %>
  Address = <%= @client %>
  FDPort = <%= @port_fd %>
  Catalog = MyCatalog
  Password = "<%= @client_secret %>"
  File Retention = <%= @file_retention %>
  Job Retention = <%= @job_retention %>
  AutoPrune = yes

  TLS Enable = yes
  TLS Require = yes
  <%= scope['bacula::bacula_tls_ca_certificate_file'] %>
  <%= scope['bacula::bacula_tls_client_certificate'] %>
  <%= scope['bacula::bacula_tls_client_key'] %>
}

