//
// THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
// USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
//

options {
	directory "/var/cache/bind";

	auth-nxdomain no;    # conform to RFC1035
	listen-on { ! 127.0.0.1; any; };
	listen-on-v6 { ! ::1; any; };

	allow-transfer { none; };
	allow-update { none; };
<% if classes.include?("named::geodns") -%>
	blackhole { 192.168.0.0/16; 10.0.0.0/8; 172.16.0.0/12; };
<% end -%>

	dnssec-enable yes;
	dnssec-validation yes;

	// Defaults are 100 and 10, causing lots and lots of tiny updates.
	// This way, I hope, we'll get fewer (and thus bigger) updates. -- weasel
	sig-signing-nodes 5000;
	sig-signing-signatures 1000;

	max-journal-size 100K;
};

logging {

	channel queries {
		file "/var/log/bind9/named-query.log" versions 4 size 40m;
		print-time yes;
		print-category yes;
	};
	category queries { queries; };
	category lame-servers { null; };

	channel transfers {
		file "/var/log/bind9/named-transfers.log" versions 4 size 40m;
		print-time yes;
		print-category yes;
	};
	category xfer-out { transfers; };
	category notify { transfers; };

};

include "/etc/bind/named.conf.puppet-shared-keys";
include "/etc/bind/named.conf.puppet-misc";
